services:
    keycloak:
        image: quay.io/keycloak/keycloak:latest
        container_name: keycloak
        ports:
            - '8180:8080'
        environment:
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin
            KC_HTTP_ENABLED: "true"
            KC_HOSTNAME_STRICT: "false"
            KC_HOSTNAME_STRICT_HTTPS: "false"
            KC_PROXY: edge
            KC_SPI_CONNECTIONS_HTTP_CLIENT_DEFAULT_DISABLE_TRUST_MANAGER: "true"
        command: >
            start-dev
            --import-realm
            --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true
            --http-enabled=true
            --hostname-strict=false
            --hostname-strict-https=false
        volumes:
            - ./_resources/_keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
        networks:
            - microservices-network

#     mongodb:
#         image: mongo:latest
#         container_name: mongodb
#         restart: always
#         ports:
#             - '27017:27017'
#         environment:
#             MONGO_INITDB_ROOT_USERNAME: admin
#             MONGO_INITDB_ROOT_PASSWORD: password
#         volumes:
#             - mongodb_data:/data/db
# volumes:
#     mongodb_data:
#         driver: local

networks:
    microservices-network:
        name: microservices-network
        driver: bridge

# ==========================================================
# Step 1: run provider first
# => docker compose -f .\docker-compose-provider.yml up -d
#
# Step 2: set KEYCLOAK_CLIENT_SECRET in user-service/.env
# => then run main app
# => docker compose up -d
# ==========================================================
