services:
    redis:
        image: redis:latest
        restart: no
        hostname: redis
        ports:
            - "6379:6379"
        networks:
            - microservices-network
    redisinsight:
        image: redis/redisinsight:latest
        container_name: redisinsight
        restart: unless-stopped
        ports:
            - "8001:5540"
        volumes:
            - redisinsight_data:/data
        environment:
            - RITRUSTEDORIGINS=http://localhost:8001,http://127.0.0.1:8001
        depends_on:
            - redis
        networks:
            - microservices-network
    axonserver:
        image: 'axoniq/axonserver:latest'
        hostname: axonserver
        container_name: axonserver
        environment:
            - 'AXONIQ_AXONSERVER_STANDALONE=TRUE'
        ports:
            - '8024:8024'
            - '8124:8124'
            - '8224:8224'
        networks:
            - microservices-network
    discover-server:
        build:
            context: .
            dockerfile: discover-server/Dockerfile
        ports:
            - '8761:8761'
        networks:
            - microservices-network
    api-gateway:
        build:
            context: .
            dockerfile: api-gateway/Dockerfile
        ports:
            - '8080:8080'
        networks:
            - microservices-network
        depends_on:
            - discover-server
            - redis
    book-service:
        build:
            context: .
            dockerfile: book-service/Dockerfile
        ports:
            - '9001:9001'
        networks:
            - microservices-network
        depends_on:
            - discover-server
            - axonserver
        environment:
            - 'AXONIQ_AXONSERVER_SERVERS=axonserver:8124'
    
networks:
    microservices-network:
        driver: bridge

volumes:
    redisinsight_data:
