spring:
    datasource:
        url: jdbc:mysql://localhost:3306/userdb
        username: root
        password: root

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka

keycloak:
    url: http://localhost:8180
    realm: ${KEYCLOAK_REALM:libraryx-system}
    client-id: ${KEYCLOAK_CLIENT_ID:libraryx-system-id}
    client-secret: ${KEYCLOAK_CLIENT_SECRET:Ynlaa5SbZtmYxAf2EhQKglG4PuRCnn1O}
