SERVER_PORT=9004
DB_URL=jdbc:postgresql://localhost:5432/userdb
DB_USERNAME=postgres
DB_PASSWORD=postgres
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_REALM=libraryx-system
KEYCLOAK_CLIENT_ID=libraryx-system-id
KEYCLOAK_CLIENT_SECRET=change-me
